* {
  box-sizing: border-box;
}
.background {
  background-color: #f6f6f6;
  width: 1200px;
  height: 675px;
  margin: auto;
}
.layer {
  position: absolute;
  width: 1010px;
  height: 503px;
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  margin: 86px 95px;
}
img {
  display: inline-block;
  width: 376px;
  height: 375px;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 48px;
  margin-right: 48px;
  vertical-align: middle;
}
h1 {
  position: absolute;
  display: inline-block;
  width: 178px;
  height: 22px;
  color: #2f2f2f;
  font-family: "Arial - Bold MT";
  font-size: 23px;
  font-weight: 400;
  margin-top: 94px;
  margin-left: 99px;
  margin-right: 309px;
  margin-bottom: 30px;
}
.description {
  position: absolute;
  display: inline-block;
  width: 393px;
  height: 50px;
  color: #2f2f2f;
  font-family: "Arial MT";
  font-size: 15px;
  font-weight: 400;
  margin-top: 146px;
  margin-bottom: 307px;
  margin-right: 93px;
  margin-left: 100px;
}
.price {
  position: absolute;
  display: inline-block;
  width: 35px;
  height: 14px;
  color: #2f2f2f;
  font-family: "Arial MT";
  font-size: 15px;
  font-weight: 400;
  margin-top: 251px;
  margin-bottom: 238px;
  margin-right: 451px;
  margin-left: 100px;
}
.money {
  position: absolute;
  display: inline-block;
  width: 103px;
  height: 28px;
  color: #2f2f2f;
  font-family: "Arial MT";
  font-size: 30px;
  font-weight: 400;
  margin-left: 102px;
  margin-right: 381px;
  margin-bottom: 187px;
  margin-top: 288px;
}
button {
  position: absolute;
  display: inline-block;
  width: 252px;
  height: 50px;
  background-color: #ec744a;
  margin-top: 372px;
  margin-left: 102px;
  margin-right: 232px;
  margin-bottom: 81px;
}
span {
  display: inline-block;
  width: 174px;
  height: 18px;
  color: #ffffff;
  font-family: "Arial MT";
  font-size: 19px;
  font-weight: 400;
}